*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#06152f;
  color:white;
}

.hidden{
  display:none !important;
}

.screen{
  min-height:100vh;
}



/* LOGIN */

#authScreen,
#profileSetupScreen{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.authBox,
.profileBox{
  width:400px;
  background:#162544;
  padding:40px;
  border-radius:25px;
}



/* INPUTS */

input,
select{
  width:100%;
  padding:15px;
  border:none;
  border-radius:15px;
  margin-bottom:15px;
  background:#20314d;
  color:white;
}



/* BUTTONS */

button{
  border:none;
  padding:15px;
  border-radius:15px;
  cursor:pointer;
  background:#2563eb;
  color:white;
}



/* TOPBAR */

.topBar{
  width:100%;
  height:80px;
  background:#162544;

  display:flex;
  align-items:center;

  gap:20px;

  padding:0 20px;
}

.menuBtn{
  width:50px;
  height:50px;
  font-size:22px;
}



/* SIDEBAR */

.sidebar{

  position:fixed;

  top:0;

  left:-280px;

  width:280px;

  height:100%;

  background:#162544;

  padding:25px;

  z-index:9999;

  transition:left 0.3s ease;

  overflow-y:auto;

  display:flex;

  flex-direction:column;

  gap:15px;
}



.sidebar.sidebarOpen{

  left:0;

}



/* CONTENT */

.adminSection,
.clientSection{
  padding:30px;
}



/* CARDS */

.exerciseCard{
  background:#20314d;
  padding:20px;
  border-radius:20px;
  margin-bottom:20px;
}



/* PROGRESS */

.progressBar{
  width:100%;
  height:30px;
  background:#20314d;
  border-radius:20px;
  overflow:hidden;
}

#progressFill{
  width:0%;
  height:100%;
  background:#2563eb;
}



/* EXERCISES */

.exerciseTop{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.exerciseTop input{
  width:25px;
  height:25px;
}



/* TEMPLATE */

.exerciseCreator{
  display:grid;

  grid-template-columns:
    1fr
    1fr
    1fr
    1fr
    auto;

  gap:10px;

  margin-bottom:20px;
}



/* MOBILE */

@media(max-width:700px){

  .authBox,
  .profileBox{
    width:90%;
  }

  .exerciseCreator{
    grid-template-columns:1fr;
  }

}
